.socialLinks {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  font-size: 1.3rem;
  &__icons {
    margin-right: 12px;
    path {
      fill: var(--headingSecondary);
    }
    &:hover {
      path {
        fill: var(--heading);
      }
    }
  }
}
