@import "../../styles/colors";

.highlights {
  ul {
    padding-left: 18px;
    li {
      margin: 12px 8px;
      a {
        color: var(--headingSecondary);
        &:visited,
        &:active {
          color: var(--headingSecondary);
        }
      }
    }
  }
}
