:root {
  --bg: #fafffb;
  --bgSecondary: #e0eeeb;
  --bgShadow: 255,255,255;
  --textPrimary: rgba(0, 0, 0, 0.65);
  --headingSecondary: rgba(0, 0, 0, 0.75);
  --border: rgba(0, 0, 0, 0.35);
  --heading: #9e2a2b;
  --bgBlock: rgba(158, 42, 43, 0.35);
}

.dark {
  --bg: #26262d;
  --bgSecondary: #31313a;
  --bgShadow: 0, 0, 0;
  --textPrimary: rgba(255, 255, 255, 0.55);
  --headingSecondary: rgba(255, 255, 255, 0.85);
  --border: rgba(255, 255, 255, 0.75);
  --heading: #78cc6d;
  --bgBlock: rgba(120, 204, 109, 0.35);
}

.container {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  color: var(--textPrimary);
  text-align: center;
}

.wrapper {
  margin: 12vh 8vw;
  height: 70vh;
  width: 100%;
  border-radius: 8px;
  display: flex;
  position: relative;
  @media only screen and (max-width: 768px) {
    margin: 0px;
    flex-direction: column;
    max-height: none;
    height: 100%;
  }
}

.profileCard {
  display: flex;
  flex-direction: column;
  width: 42%;
  border-radius: 8px;
  position: relative;
  z-index: 10;
  background-color: var(--bgSecondary);
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    width: 100%;
    z-index: 0;
  }
  &__imgWrapper {
    height: 50%;
    position: relative;
    img {
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 220px;
      img {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
  }
  &__infoWrapper {
    border-radius: 8px;
    margin-top: 75px;
    &--heading {
      font-size: 2.25rem;
      color: var(--headingSecondary);
      font-weight: 400;
      margin-bottom: 8px;
    }
    &--subheading {
      font-size: 1.5rem;
      color: var(--heading);
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__profileImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    @media only screen and (max-width: 768px) {
     top: 220px;
    }
  }
  &::after {
    background-color: var(--bgSecondary, inherit);
    opacity: 0.3;
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(var(--bgShadow), 0.25);
    z-index: -1;
  }
}
