.workCard {
  padding-bottom: 8px;
  width: 90%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  &__role {
    color: var(--headingSecondary);
    margin-bottom: 4px;
  }
  &__company, &__role {
    font-weight: 600;
  }
  &__badge {
    border: 2px solid var(--heading);
    color: var(--heading);
    background-color: transparent;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__description {
    margin-top: 24px;
    li {
      margin-bottom: 4px;
    }
  }

  &__divider {
    height: 1px;
    background-color: var(--border);
    margin: 12px 0px;
  }
}
