.infoWrapper {
  background-color: var(--bgSecondary);
  margin: 12px 0px;
  width: 60%;
  padding: 30px 30px 0 30px;
  border-radius: 8px;
  margin-left: -8px;
  text-align: left;
  letter-spacing: 1px;
  overflow-y: scroll;
  font-size: 1.1rem;
  @media only screen and (max-width: 768px) {
    width: auto;
    padding: 30px 16px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 0.9rem;
  }

  &__header {
    color: var(--headingSecondary);
    font-weight: 600;
    padding: 30px 0px;
    text-align: left;
    border-bottom: 0.5px solid var(--border);
    font-size: 1.3rem;
    &:first-child {
      padding: 0 0 30px;
    }
  }

  &__text {
    padding-top: 12px;
  }

  &__bottomSection {
    padding: 12px 0px;
  }
}
