@import "../../styles/colors";
@import "../../styles/breakpoint";
.badgeWrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 12px 0px;

  @media (max-width: $desktopWidth) {
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  &__text {
    background-color: transparentize($heading, 0.4);
    padding: 4px 12px;
    border-radius: 4px;
    color: $headingSecondary;
  }

  &__subtext {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}
