@import "../../styles/colors";

.badgeWrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 12px 0px;

  &__text {
    background-color: transparentize($heading, 0.4);
    padding: 4px 12px;
    border-radius: 4px;
    color: $headingSecondary;
  }

  &__subtext {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}
