@import "../../styles/colors";

.badgeWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0px;

  &__text {
    background-color: var(--bgBlock);
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--headingSecondary);
    @media only screen and (max-width: 768px) {
      padding: 4px;
    }
  }

  &__subtext {
    display: flex;
    align-items: center;
  }
}
